{% if app.user.id != event.organizer.id %}
    {% if app.user.id not in registrations[event.id]|default([]) %}
        <div class="col-md-auto">
            <a href="{{ path('App\\Controller\\EventController::register_event', {'view':view, 'id':event.id}) }}" class="btn btn-sm btn-success btn_w confirm_register">S'inscrire</a>
        </div>
    {% else  %}
        <div class="col-md-auto">
            <a href="{{ path('App\\Controller\\EventController::unregister_event', {'view':view, 'id':event.id}) }}" class="btn btn-sm btn-warning btn_w confirm_unregister">Se désinscrire</a>
        </div>
    {% endif %}
{% else  %}
    <div class="col-md-auto btn_w"></div>
{%  endif %}
