{% if app.user.id != event.organizer.id %}
    {% if app.user.id not in registrations[event.id]|default([]) %}
        <div class="col-md-auto">
            <a href="/profile/register_event/{{ view }}_{{ event.id }}" class="btn btn-sm btn-success btn_w confirm_register">S'inscrire</a>
        </div>
    {% else  %}
        <div class="col-md-auto">
            <a href="/profile/unregister_event/{{ view }}_{{ event.id }}" class="btn btn-sm btn-warning btn_w confirm_admin">Se désinscrire</a>
        </div>
    {% endif %}
{% else  %}
    <div class="col-md-auto" style="width: 120px;"></div>
{%  endif %}
