<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-6 flex-column align-items-start">
        <div class="mb-0 mb-md-0 text-body-secondary">© 2025 Company, Inc</div>
        <div class="mb-0 mb-md-0 text-body-secondary">Tous droits réservés</div>
    </div>
    <div class="col-md-6 d-flex flex-column align-items-end">
        <div class="mb-0 mb-md-0 text-body-secondary">mail : sortirentreamis@gmail.com</div>
        <div class="mb-0 mb-md-0 text-body-secondary">tél. : 09.12.34.56.78</div>
    </div>
</footer>


