<div class="d-flex flex-wrap align-items-center justify-content-between">
    <img class="bg-body-tertiary" src="{{ asset('images/logo.png') }}" alt="Logo SEA" height="50px">
    <h1>Sortir Entre Amis</h1>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/list">Liste des évènements</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/detail">Création d'évènements</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/role">Gestion des rôles</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>



