<div class="d-flex flex-wrap align-items-center justify-content-between">
    <img class="bg-body-tertiary" src="{{ asset('images/logo.png') }}" alt="Logo SEA" height="60px">
    <div class="center hide_mobile">
        <h1 class="font_ravie"><span class="blue">Sortir</span> <span class="green">Entre</span> <span class="brown">Amis</span></h1>
        <p>Gestion d'évènements</p>
    </div>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav txt_mobile">
                    {%  include 'partials/_nav.html.twig' %}
                    {%  include 'partials/_nav_account_mb.html.twig' %}
                </ul>
                <ul class="navbar-nav txt_desktop">
                    {%  include 'partials/_nav_account_dk.html.twig' %}
                </ul>
            </div>
        </div>
    </nav>
</div>
<hr class="border border-2 opacity-100 w-100 mt-0 mb-0">
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <button class="navbar-toggler hide_mobile" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav2">
            <ul class="navbar-nav fs-5">
                {%  include 'partials/_nav.html.twig' %}
            </ul>
        </div>
    </div>
</nav>
<hr class="border border-2 opacity-100 w-100 hide_mobile mt-0 mb-0">




