<div class="d-flex flex-wrap align-items-center justify-content-between">
    <img class="bg-body-tertiary" src="{{ asset('images/logo.png') }}" alt="Logo SEA" height="60px">
    <div class="center hide_mobile">
        <h1 class="font_ravie"><span class="blue">Sortir</span> <span class="green">Entre</span> <span class="brown">Amis</span></h1>
        <p>Gestion d'évènements</p>
    </div>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link txt_mobile active" aria-current="page" href="/">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link txt_mobile" href="/list">Liste des évènements</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link txt_mobile" href="/detail">Création d'évènements</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link txt_mobile" href="/role">Gestion des rôles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/account">Création du compte</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Connexion</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<nav class="navbar navbar-expand-lg">
    <hr class="hr-high">
    <div class="container-fluid">
        <button class="navbar-toggler hide_mobile" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav2">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/list">Liste des évènements</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/detail">Création d'évènements</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/role">Gestion des rôles</a>
                </li>
            </ul>
        </div>
    </div>
    <hr class="hr-bottom">
</nav>




