<?php
                        if (isset($_SESSION['prenom']) && $_SESSION['prenom'] != '') {
                    ?>
<a class="btn btn-sm" href="index.php?ctrl=user&action=edit_account" alt="Mon compte" title="Mon compte">
    Bonjour <?php echo($_SESSION['prenom']); ?>
</a>
|
<a class="btn btn-sm" href="/logout" alt="Se déconnecter" title="Se déconnecter">
    <i class="fas fa-sign-out-alt"></i>
</a>
<?php } else { ?>
<a class="btn btn-sm" href="/create_account" alt="Créer un compte" title="Créer un compte">
    <i class="fas fa-user"></i>
</a>
|
<a class="btn btn-sm" href="/login" alt="Se connecter" title="Se connecter">
    <i class="fas fa-sign-in-alt"></i>
</a>
<?php } ?>
