<li class="nav-item">
    <a class="nav-link" aria-current="page" href="/">Accueil</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/list_events">Liste des évènements</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/add_edit_event">Création d'évènements</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/role">Gestion des rôles</a>
</li>
