:root{
    --blue-color:#3465A4;
    --green-color:#069A2E;
    --brown-color:#EA7500;

}

body {
    /*background-color: skyblue;*/
    font-family: "Comic Sans MS";
}

.center {
    text-align: center;
}

.font_ravie {
    font-family: Ravie;
}

h1{
    font-size: 1.6rem;
}

.p_augm{
    font-size: 1.2rem;
}

.blue{
    color: var(--blue-color, blue);
}

.green{
    color: var(--green-color, green);
}

.brown{
    color: var(--brown-color, brown);
}

.txt_mobile{
    display: none;
}

/* Responsive */
@media (max-width: 992px) {
    .txt_mobile {
        display: block;
    }

    .txt_desktop {
        display: none;
    }
}


