:root{
    --blue-color:#3465A4;
    --green-color:#069A2E;
    --brown-color:#EA7500;
}

body {
    /*background-color: skyblue;*/
    font-family: "Comic Sans MS";
}

.font_ravie {
    font-family: Ravie;
}

.center {
    text-align: center;
}

.p_augm{
    font-size: 1.2rem;
}

.p_dim{
    font-size: 0.8rem;
}

.blue{
    color: var(--blue-color, blue);
}

.custom-table thead th {
    background-color: var(--blue-color, blue) !important;
    color: white !important;
}

.green{
    color: var(--green-color, green);
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    color: var(--green-color, green) !important;
    font-weight: bold;
}

.brown{
    color: var(--brown-color, brown);
}

.custom-table tbody .brown {
    background-color: var(--brown-color, blue) !important;
}

.txt_mobile{
    display: none;
}

.btn_w{
    width: 120px;
}

.btn_w3{
    width: 360px;
}

.mw-10{
    min-width: 10%;
}

.mw-18{
    min-width: 18%;
}

/* Responsive */
@media (max-width: 992px) {
    .txt_mobile {
        display: block;
    }

    .txt_desktop {
        display: none;
    }
}


