.hr-high {
    margin-bottom : 0;
}

.hr-bottom {
    margin-top : 0;
}

/* Responsive */
@media (max-width: 992px) {
    .hide_mobile {
        display: none !important;
    }

    .navbar-collapse {
        position: absolute;
        top: 100%;
        width: 200px;
        left: -120px;
        padding: 10px;
        background-color:  var(--brown-color, brown);
        border-radius: 10px;
        text-align: right;
        z-index: 1000;
    }
}
