<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Sortir Entre Amis - Gestion d'évènements{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        {% block stylesheets %}
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
            <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
            <link rel="stylesheet" href="{{ asset('styles/nav.css') }}">
        {% endblock %}
    </head>
    <body>
        <div class="container-fluid container-md d-flex flex-column min-vh-100">
            {# -- Chargement de mon header -- #}
            {%  include 'partials/_header.html.twig' %}

            {# -- Ici repose le contenu de ma page -- #}
            <main class="flex-grow-1 container-fluid container-md my-4 mt-3 mb-3">
                {% block body %}{% endblock %}
            </main>

            {# -- Chargement de mon footer -- #}
            {%  include 'partials/_footer.html.twig' %}
        </div>

        {# -- Ici repose mon code JS -- #}
        {# -- Par exemple Bootstrap CSS, etc, ... -- #}
        {% block javascripts %}
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
            <script src="{{ asset('js/nav.js') }}"></script>
            <script src="{{ asset('js/confirm.js') }}"></script>
        {% endblock %}
    </body>
</html>
