{% extends "base.html.twig" %}

{%  block title %}
    Connexion
{% endblock %}

{%  block body %}
    <div class="d-flex align-items-center justify-content-center py-4">
       <form>
            <h1 class="h3 mb-3 fw-normal">Merci de vous authentifier !</h1>
            <div class="form-floating">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Adresse Email</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Mot de passe</label>
            </div>
            <button class="btn btn-primary w-100 py-2" type="submit">Continuer</button>
        </form>
    </div>
{%  endblock %}
