{% extends "base.html.twig" %}

{%  block title %}
    Détail d'un évènement
{% endblock %}

{%  block body %}
    <div class="container">
        <h1>DETAIL</h1>
        <p>ID : {{ id }}</p>
    </div>
{%  endblock %}
