{% extends "base.html.twig" %}

{%  block title %}
    Détail d'un évènement
{% endblock %}

{%  block body %}
    {% if eventIndex > 0 %}
        <a href="{{ path('App\\Controller\\EventController::detail_id', {'id': events[eventIndex-1].id}) }}"><i class="fas fa-arrow-alt-circle-left fs-2 mb-3"></i></a>
    {% else %}
        <p class="fs-2 mb-2">&nbsp;</p>
    {% endif %}
    <div class="row g-3">
        <div class="col-lg-3 blue txt_desktop">
            {% if eventIndex > 0 %}
                {% set event = events[eventIndex-1] %}
                {% set view = '' %}
                {%  include 'partials/_event_card.html.twig' %}
            {% endif %}
        </div>
        <div class="col-lg-6 green fs-4">
            {% set event = events[eventIndex] %}
            {% set view = 'detail' %}
            {%  include 'partials/_event_card.html.twig' %}
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
        <div class="col-lg-3 brown txt_desktop">
            {% if eventIndex < (events|length - 1) %}
                {% set event = events[eventIndex+1] %}
                {% set view = '' %}
                {%  include 'partials/_event_card.html.twig' %}
            {% endif %}
        </div>
    </div>
    <div class="text-end">
        {% if eventIndex < (events|length - 1) %}
            <a href="{{ path('App\\Controller\\EventController::detail_id', {'id': events[eventIndex+1].id}) }}"><i class="fas fa-arrow-alt-circle-right fs-2"></i></a>
        {% endif %}
    </div>
{%  endblock %}
